<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
</head>

<body>

  <div class="dashboard-wrapper">

    <p class="welcome">Welcome <span class="username">{{username}}</span></p>

    <!-- Button to see dataset shape -->


    <div class="actions-wrapper">

      <form action="{{ url_for('shape') }}" method="get">
        <button type="submit">See Dataset Shape</button>
      </form>
      
      <form action="{{url_for('dtypes')}}" method="get">
        <button type="submit">See data columns and types</button>
      </form>

      <form action="{{url_for('head')}}">
        <button type="submit">See the first n rows</button>
      </form>

      <form action="{{url_for('tail')}}">
        <button type="submit">Show the last n rows</button>
      </form>

      <form action="{{url_for('describe')}}">
        <button type=" submit">Show statistics</button>
      </form>

      <form action="{{url_for('predict')}}">
        <button type="submit">Show prediction salary</button>
      </form>
    </div>


    <a class="logout" href="{{ url_for('logout') }}">Logout</a>
  </div>
</body>

</html>