<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
</head>
<body>
<h2>View the statistics data</h2>
 <table border="1">
        <tr>
            <th>Statistics</th>
           {% for c in statistics.columns%}
            <th>{{ c }}</th>
            {% endfor %}
        </tr>
        {% for index, row in statistics.iterrows() %}
        <tr>
            <td>{{ index }}
            </td>
            {% for value in row %}
            <td>{{ value }}</td>
             {% endfor %}
        </tr>
         {% endfor %}
    </table>

    <br>
  <form action="{{ url_for('home') }}">
        <button type="submit">Back to Dashboard</button>
    </form>
</body>
</html>
</body>
</html>